{
  "problem": {
    "name": "<<SCENARIO_NAME>>",
    "multi_file": true,
    "program": "<<SOURCE_FILE>>",
    "executable_name": "<<PROGRAM_NAME>>",
    "positive_tests": <<POSITIVE_TESTS>>,
    "negative_tests": <<NEGATIVE_TESTS>>,
    "test_command": "pythia run-by-id <<EXECUTABLE>> __TEST_NAME__",
    "compiler": {
      "executable": "<<PROGRAM_NAME>>",
      "command": "./compile.sh __EXE_NAME__ &> /dev/null"
    }
  }
}
