{
  "problem": {
    "name": "<<SCENARIO_NAME>>",
    "multi_file": true,
    "program": "source/manifest.txt",
    "executable_name": "<<PROGRAM_NAME>>",
    "positive_tests": <<POSITIVE_TESTS>>,
    "negative_tests": <<NEGATIVE_TESTS>>,
    "compiler": {
      "executable": "<<PROGRAM_NAME>>",
      "command": "./compile.sh __EXE_NAME__ &> /dev/null"
    }
  },
  "test_command": "pythia run-by-id /experiment/<<EXECUTABLE>> __TEST_NAME__"
}
